@mixin circle($diameter) {
  width: $diameter;
  height: $diameter;
  -moz-border-radius: $diameter/2;
  -webkit-border-radius: $diameter/2;
  border-radius: $diameter/2;
  @include display-center();
}

@mixin clip-circle($diameter) {
  -webkit-clip-path: circle($diameter/2 at center);
  clip-path: circle($diameter/2 at center);
}
